<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <img
    src="/docs/4.1/assets/brand/bootstrap-solid.svg"
    width="30"
    height="30"
    class="d-inline-block align-top"
    alt=""
  />
  <a class="navbar-brand" href="#">Dance of Life Doula Services</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#"
          >Home <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item"><a class="nav-link" href="#">Meet Darian</a></li>
      <li class="nav-item">
        <a class="nav-link" href="#">Professional Services</a>
      </li>
      <li class="nav-item"><a class="nav-link" href="#">Contact</a></li>
      <li class="nav-item"><a class="nav-link" href="#">Blog</a></li>
    </ul>
  </div>
  <span>
    <a href="#" class="fa fa-facebook nav-link" target="_blank"></a>
    <a href="#" class="fa fa-twitter nav-link" target="_blank"></a>
    <a href="#" class="fa fa-instagram nav-link" target="_blank"></a>
    <a href="#" class="fa fa-youtube nav-link" target="_blank"></a>
  </span>
</nav>
